<html>
    <head>
        <title>
            ORDER TO BE PREPARED    
        </title>
    </head>
    <body>
        <p><h2>ORDER LIST</h2></p>
        <hr>
        <hr>
        <hr>
        <p></p>
        <h3>ORDER NO. -->  FOOD ITEM</h3>
        <div>
                <% orders.forEach(function(ORDER){ %>
                    <div>
                            <h4> <%= ORDER.ONO %> --> <%= ORDER.name %></h4>
                            <%  var x=  ORDER.ONO %>
                            <% var y=ORDER.name %>
                            <form action="/preparinglist" method="POST">
                            <input name="orderno"   type="hidden" value= <%= x %>   >
                            <input name="ordername"   type="hidden" value= <%= y %>   >
                            
                            <input type="submit"  value="START PREPARING" name="START PREPARING"> 
                            </form>
                            <hr>
                    </div>
                    
                <% }); %>
        </div>
        

    </body>
</html>