<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="restu.css">
	<title>resturant</title>
</head>
<body>
	
	    <nav class="navbar navbar-sm ">
		 <a class="navbar brand" href="#">SR</a>
         <a  href="#" >CONTACT</a>
         <a  href="#">MORE INFO</a>
     	</nav>


	<div class="jumbotron">
	<div class="container">
		
		<h1>
			WELCOME   TO<br> BAVARCHIS!!
		</h1>
		<hr>
		<h4>
			WHERE TASTE MEETS CHOICE!

		</h4>
		<hr>
	</div>
    </div>

	<p><div class="container">
		<h5>WE HAVE GOT YOU FULLY COVERED!</h5>
		<h6> fully fresh and instant prepared meals!</h6>
	</div></p>
	<h5>Choose from below submenu for type of food you wanna eat!</h5>
	<li>
		<ul><a href="/north">NORTH INDIAN MEALS</a></ul>
		<ul><a href="">SOUTH INDIAN MEALS</a></ul>
		<ul><a href="/chinese">CHINESE FOOD</a></ul>
		<ul><a href="">MEXICAN SPICES</a></ul>
		<ul><a href="">BURGERS SANDWICHES AND PIZZAS</a></ul>
		<ul><a href="">DESSERTS</a></ul>
	</li>
	
		
</body>
</html>